
body{
	padding: 0px;
	margin: 0px;
	width: 240px;
	height: ;
}

.player {
	background: white url("../img/player.png") top left no-repeat;
	width: 240px;
	height: 160px;
}

div.jp-interface ul.jp-controls {
	list-style-type:none;
	margin:0;
	padding: 0;
	overflow:hidden;
}


div.jp-video div.jp-type-playlist ul.jp-controls {
	width: 134px;
	margin-left: 172px;
}

div.jp-interface ul.jp-controls li {
	display:inline;
	position: absolute;
	top: 44px;
	left: 168px;
}

div.jp-interface ul.jp-controls a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}

a.jp-play,
a.jp-pause {
	width:35px;
	height:35px;
}

a.jp-pause {
	background: url("../img/icons.png") 0 0 no-repeat;
}
a.jp-pause:hover {
	background: url("../img/icons.png") -35px 0 no-repeat;
}
a.jp-play {
	background: url("../img/icons.png") 0 -35px no-repeat;
	display: none;
}
a.jp-play:hover {
	background: url("../img/icons.png") -35px -35px no-repeat;
}


div.jp-title {
	font-weight:bold;
	text-align:center;
	width:240px;
	height: 35px;
	position: absolute;
	top: 122px;
	overflow: hidden;
}
div.jp-title ul {
	list-style-type:none;
	margin:0;
	padding:0 20px;
	font-size:.72em;
}

div.jp-title li {
	padding:5px 0;
	font-weight:bold;
}