
body{
	padding: 0px;
	margin: 0px;
	width: 370px;
	height: 220px;
}

.player {
	background: white url("../img/player.jpg") top left no-repeat;
	width: 369px;
	height: 220px;
}

div.jp-interface ul.jp-controls {
	list-style-type:none;
	margin:0;
	padding: 0;
	overflow:hidden;
}


div.jp-video div.jp-type-playlist ul.jp-controls {
	width: 134px;
	margin-left: 172px;
}

div.jp-interface ul.jp-controls li {
	display:inline;
	position: absolute;
	top: 35px;
	left: 175px;
}

div.jp-interface ul.jp-controls a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}

a.jp-play,
a.jp-pause {
	width:89px;
	height:89px;
}

a.jp-pause {
	background: url("../img/icons.png") 0 0 no-repeat;
}
a.jp-pause:hover {
	background: url("../img/icons.png") -89px 0 no-repeat;
	margin-left: 10px;
}
a.jp-play {
	background: url("../img/icons.png") 0 -89px no-repeat;
	display: none;
}
a.jp-play:hover {
	background: url("../img/icons.png") -89px -89px no-repeat;
}


div.jp-title {
	font-weight:bold;
	text-align:center;
	width:240px;
	height: 71px;
	position: absolute;
	top: 160px;
	overflow: hidden;
}
div.jp-title ul {
	list-style-type:none;
	margin:0;
	padding:0 20px;
	font-size:.72em;
}

div.jp-title li {
	padding:5px 0;
	font-weight:bold;
}